@import "tailwindcss";

.gradient-text {
    background: linear-gradient(
        to right,
        #000000,
        #505050, 
        #b7b7b7, 
        #505050,
        #000000,
        #505050,
        #b7b7b7
    );
    background-size: 300% 300%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 6s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.nav-link {
    color: #383838;
    transition: all 0.3s;
    font-weight: 500; 
    position: relative;
    font-size: 0.875rem;
}

.nav-link:hover {
    color: #050505; 
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #050505;
    transition: all 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}